/boundstar
/commandstar
/starbound
/StarryPy3k

bans.log
clock.log
forward.log
kicks.log

/tmp
/trash

.bash_history
.bashrc
.cache
.config
.distlib
.docpad.cson
.forever
.mysql_history
.node-gyp
.npm
.nvm
.profile
.ssh
.viminfo